$title-bar-height: 44px;
$tab-bar-height: 50px;

body {
  font-family: sans-serif;
}

body.birds-eye-debugging {
  font-size: 10px;
}

h1 {
    font-size: 1.2rem;
}

#yapp-application {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.viewport {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}
.layer-0 {
  top: 0;
}
.layer-1 {
  top: 100%;
}
.layer-2 {
  top: 200%;
}
.liquid-container.silo-outlet {
  position: absolute;
  top: 0;
  height: 100%;
  width: 20%;
}
.silo-0-outlet {
  left: 0;
}

.silo-1-outlet {
  left: 20%;
}

.silo-2-outlet {
  left: 40%;
}

.silo-3-outlet {
  left: 60%;
}

.silo-4-outlet {
  left: 80%;
}

.liquid-container.silo-outlet > .liquid-child,
.silo-outlet > .liquid-container,
.silo-outlet > .liquid-container > .liquid-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.silo-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 500%;
  background: white;
}

.layer-container .y-content-wrapper {
  position: absolute;
  top: $title-bar-height;
  bottom: $tab-bar-height;
  left: 0;
  right: 0;
  overflow:hidden;
}

.layer-container.has-tab-bar .y-content-wrapper {
  bottom: 0;
}

.silo-outlet {
  position: absolute;
  width: 20%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
}
.silo-outlet > .liquid-container {
  overflow: visible;
}

.TitleBar {
  position: absolute;
  height: $title-bar-height;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
}

.TabBar {
  position: absolute;
  bottom: 0;
  height: $tab-bar-height;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
  ul {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  li {
    list-style: none;
    display: inline-block;
    font-size: .8rem;
  }
}

.y-page-content {
  padding: 2px;
}
.page-title {
  text-align: center;
}
.my-schedule-button::after {
  content: 'MS'
}

body.birds-eye-debugging {
  #yapp-application {
    width: 500px;
    height: 600px;
    border: 1px solid red;
    position: absolute;
    left: calc(50% - 500px/2);
    top: calc(50% - 600px/2);
    overflow: visible;
  }

  .viewport {
    width: 100px;
    height: 200px;
  }

  .layer-0 .silo-container {
    border: 1px solid green;
    background: rgba(lighten(green, 50%), 0.9);
  }
  .layer-1 {
    top: 200px;
  }
  .layer-1 .silo-container {
    border: 1px solid yellow;
    background: rgba(lighten(yellow, 30%), 0.9);
  }
  .layer-2 {
    top: 400px;
  }
  .layer-2 .silo-container {
    border: 1px solid purple;
    background: rgba(lighten(purple, 50%), 0.9);
  }
  .liquid-container.silo-outlet {
    height: 200px;
    width: 100px;
  }
  .layer-container .liquid-container.silo-outlet {
    height: 120px;
  }
  .silo-0-outlet {
    left: 0;
  }

  .silo-1-outlet {
    left: 100px;
  }

  .silo-2-outlet {
    left: 200px;
  }

  .silo-3-outlet {
    left: 300px;
  }

  .silo-4-outlet {
    left: 400px;
  }
  .silo-container {
    left: 0px;
    width: 500px;
  }
  .silo-outlet {
    width: 100px;
    border: 1px dashed blue;
  }
}
