body {
  font-family: sans-serif;
  font-size: 11px;
}

h1 {
    font-size: 14px;
}

#yapp-application {
  width: 500px;
  height: 600px;
  border: 1px solid red;
  position: absolute;
  left: calc(50% - 500px/2);
  top: calc(50% - 600px/2);
}

.viewport {
  position: absolute;
  left: 0px;
  width: 100px;
  height: 200px;
}

.layer-0 {
  top: 0;
  border: 1px solid green;
  background: rgba(green, .2);
}

.layer-1 {
  top: 200px;
  border: 1px solid yellow;
  background: rgba(yellow, .2);
}
.layer-2 {
  top: 400px;
  border: 1px solid purple;
  background: rgba(purple, .2);
}
.liquid-container.silo-outlet {
  position: absolute;
  top: 0;
  height: 200px;
  width: 100px;
}
.layer-container .liquid-container.silo-outlet {
  height: 120px;
}

.liquid-container.silo-outlet > .liquid-child,
.silo-outlet > .liquid-container,
.silo-outlet > .liquid-container > .liquid-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.silo-container {
  position: absolute;
  /* top: 0; bottom: 0; left: -100%; width: 500%; */
  top:40px; height:160px; left: 0px; width: 500px;
}
.layer-container.has-tab-bar .silo-container {
  height: 120px; // leave room for tab bar
}
.TitleBar {
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
}
.TabBar {
  position: absolute;
  bottom: 0;
  height: 40px;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
  ul {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  li {
    list-style: none;
    display: inline-block;
    font-size: 9px;
  }
}
.silo-outlet {
  position: absolute;
  width: 100px;
  top: 0;
  bottom: 0;
  border: 1px dashed blue;
  box-sizing: border-box;
}
.silo-outlet > .liquid-container {
  overflow: visible;
}

.silo-0-outlet {
  left: 0;
}

.silo-1-outlet {
  left: 100px;
}

.silo-2-outlet {
  left: 200px;
}

.silo-3-outlet {
  left: 300px;
}

.silo-4-outlet {
  left: 400px;
}

.y-page-content {
  padding: 2px;
}
.page-title {
  text-align: center;
}
