<div {{action (route-action 'back')}} class="y-button left-button theme-color back-button">Back</div>

{{#if model.yapp.myScheduleEnabled}}
  <div {{action (route-action 'visitMySchedule')}} class="y-button right-button theme-color icon-button my-schedule-button"></div>
{{/if}}
