<div class="y-content-wrapper">
  <div class='y-page-content' style="position:absolute;top:0;bottom:0;left:0;right:0">
    <h1>page {{model.slug}}</h1>
    {{#link-to 'schedule-item' '1'}}Schedule Item 1{{/link-to}}
  </div>
</div>
